@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

#pre-sec-box {
  margin-top: 24px;
  font-family: "Space Grotesk", sans-serif;
  line-height: 1.5;
  text-wrap: wrap;
  padding: 8px;
  border-radius: 8px;
  opacity: 1;
  font-weight: normal;
  color: #ffffff;
  font-size: 16px;
  overflow-wrap: break-word;
 background-color: #000011;
  border-color: #0000aa;
  border-width: 2px; 
  border-style: solid;
  
}

#topBar {
  width: 100%;
  padding: 4px;
}

a {
  color: #bbbbff;
  text-decoration: none;
  transition: color 0.5s ease;
}

body {
   margin: auto;
  padding: 10px;
  background-color: #222222;
  color: #ffffff;
  line-height: 1.1;
   font-family: "Noto Sans", sans-serif;

}

button {
  color: #000000;
  background-color: #bbbbbb;
  font-family: "Noto Sans", sans-serif;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 4px;
  padding: 4px;
  padding-right: 8px;
  padding-left: 6px;
}



a:hover {
  color: #77bbff;
  text-decoration: underline; /* Adds an underline on hover */
}

td {
  padding-right: 10px; /* Space between cells */
}
